{% load static %}

<head>
  <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
</head>
<title>{% block title %}CBSISM{% endblock title %}</title>

{% block content %}
<div class="content">
  <h1>Remove Endpoint</h1>
  <a href='http://localhost:3000/'><button>View your dashboards</button></a>
  <a href="http://127.0.0.1:8000/configuration/"><button>Back to Add Endpoint page</button></a>


  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  {% if submitted %}
  <p class="success">
    Your message was submitted successfully. Thank you.
  </p>

  {% else %}
  <form action="" method="post" novalidate>
    <table>
      {{ form.as_p}}
      <tr>
        <td>&nbsp;</td>
            <td><input type="submit" value="Remove"></td>
      </tr>
    </table>
    {% csrf_token %}

  </form>

</div>
{% endif %}
{% endblock content %}